body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fcfdfd;
    text-align: center;
}

header {
    background: #c0892a;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

h2{
    color: #694d00;
}

h1{
    color: #694d00;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    margin: 20px 0;
}

.book-container {
    display: grid;
    gap: 50px;
    padding: 30px;
}

.book {
    background: rgb(254, 253, 253);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book img {
    width: 70%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.price {
    font-weight: bold;
    color: #9e8705;
}

.buy-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.buy-btn:hover {
    background: #218838;
}

@media (min-width: 1024px) {
    .book-container {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .book-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 767px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: #0073e6;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }

    .book-container {
        grid-template-columns: repeat(2, 1fr);
    }
}